* {
    padding: 0;
    margin: 0;
    font-family: Andika;
}

div {
    box-sizing: border-box;
}

#header {
    height: 50px;
    border-bottom: 4px solid black;
    box-shadow: 0 8px 3px #a1a3a3;
}

#header > p {
    margin-left: 15%;
    font-size: 30px;
}

#admin-page-content {
    font-size: 20px;
    margin-top: 40px;
    width: 100%;
    display: grid;
    direction: column;
    
}

#map-and-info {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
    height: 80vh;
}

#location > p, ul {
    margin: 25px;
}

#map {
    border: 2px solid black;
    margin-left: 2%;
    width: 65%;
}

#info {
    display: grid;
    /* gap: 25px; */
    margin-right: 2%;
    width: 29%;
    align-items: center;
    justify-content: center;
}

#info > a {
    min-width: 26vw;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
}

#scooter-status, #user-specifications {
    display: none;
}