* {
    padding: 0;
    margin: 0;
    font-family: Andika;
}

div {
    box-sizing: border-box;
}

p {
    font-size: 30px;
}

#first-page {
    display: flex;
    width: 100%;
    height: 150px;
    min-height: 100vh;
    justify-content: center;
    align-self: center;
}

#header-first-page {
    text-align: center;
    margin: auto;
}

#accounts {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
 #accounts > a {
    font-size: 20px;
    border: 2px solid black;
    width: 30%;
    text-decoration: none;
 }