* {
    padding: 0;
    margin: 0;
    font-family: Andika;
}

body {
    background-color: #1A2930;
}

div {
    box-sizing: border-box;
}

#header {
    height: 40px;
    border-bottom: 2px solid white;
    box-shadow: 0 3px 5px white;
}

#header > p {
    color:white;
    margin-left: 2%;
    font-size: 25px;
    font-weight: 600;
}

#user-page-content {
    font-size: 20px;
    margin-top: 40px;
    width: 100%;
    display: grid;
    direction: column; 
}

#map-and-info {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
    height: 80vh;
}

#product > p, ul {
    margin: 25px;
    color: white;
}

#map {
    margin-left: 2%;
    width: 93%;
    box-shadow: 10px 10px 1px #a1a3a3;
}

#info-context {
    margin-right: 2%;
    border-left: 2px solid white;
}

#info {
    display: none;
    gap: 25px;
    margin-right: 4%;
    margin-left: 4%;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    height: 100%;
}

#info > p {
    font-size: 22px;
    color: white;
}

#info > a {
    color: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
}

#info > #set-route {
    margin-top: 100px;
}