* {
    padding: 0;
    margin: 0;
    font-family: Andika;
}

div {
    box-sizing: border-box;
}

#header {
    height: 40px;
    border-bottom: 4px solid black;
    box-shadow: 0 8px 3px #a1a3a3;
    /* padding: 30px; */
}

#header > p {
    margin-left: 15%;
    font-size: 25px;
    font-weight: 600;
}

#user-page-content {
    font-size: 20px;
    margin-top: 50px;
    width: 100%;
    display: grid;
    direction: column;
    
}

#map-and-info {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
    height: 80vh;
}

#location-usage > p, ul {
    margin: 25px;
    /* border: 1px solid black; */
}

#map {
    border: 2px solid black;
    margin-left: 2%;
    width: 57%;
}

#info {
    display: grid;
    margin-right: 2%;
    /* border: 2px solid black; */
    width: 37%;
    align-items: center;
    justify-content: center;
}

#info > p {
    font-size: 22px;
}

#info > a {
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
}